<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/pocket/list"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'p.stats.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-wrap-900">
        <ion-card>
            <ion-card-header>
                <ion-card-content>
                    <b>{{'p.stats.numberOfRecipes' | translate}}:</b> {{stats.recipesCount}}
                </ion-card-content>
            </ion-card-header>
        </ion-card>
    </div>
</ion-content>
