<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'appTitle' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-wrap-600 ion-text-center">
        <br/>

        <div>
            <ion-button (click)="auth.signInViaGoogle()" expand="block">
                <fa-icon [icon]="faGoogle"></fa-icon>&nbsp; {{'p.signIn.signInVia' | translate}} Google
            </ion-button>

            <br/>
        </div>

        <div *ngIf="featureLevel.isAvailable(featureLevel.LEVEL_DEV)">
            <ion-button (click)="auth.signInViaEmail()" expand="block">
                <fa-icon [icon]="faEnvelope"></fa-icon>&nbsp; {{'p.signIn.signInVia' | translate}} email
            </ion-button>

            <br/>
        </div>

        <div>
            <ion-button (click)="auth.signInAnonymously()" expand="block">
                <fa-icon [icon]="faGhost"></fa-icon>&nbsp; {{'p.signIn.continueWithoutSignIn' | translate}}
            </ion-button>

            <br/>
        </div>

        <div>
            <a routerLink="/terms">
                {{'p.terms.title' | translate}}
            </a>
        </div>

    </div>
</ion-content>
