<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/pocket/list"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'uni.edit' | translate}}: {{entity.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-wrap-600" style="position: relative;">
        <ion-item>
            <ion-label position="floating">
                {{'e.recipe.title' | translate}}
            </ion-label>
            <ion-input [(ngModel)]="entity.title" name="title"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">
                {{'e.recipe.description' | translate}}
            </ion-label>
            <ion-textarea [(ngModel)]="entity.description" name="description"></ion-textarea>
        </ion-item>

        <div *ngIf="featureLevel.isAvailable(featureLevel.LEVEL_DEV)">
            <h3>{{'e.recipe.ingredients' | translate}}:</h3>

            <ion-item>
                <ion-input></ion-input>
            </ion-item>
        </div>

        <ion-item>
            <ion-label position="floating">
                {{'e.recipe.recipe' | translate}}
            </ion-label>
            <ion-textarea></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-toggle [(ngModel)]="entity.isPublic" name="isPublic"></ion-toggle>
            <ion-label>{{'p.recipeAdd.setAsPublic' | translate}}</ion-label>
        </ion-item>

        <div *ngIf="entity.isPublic === true" style="background: #fff;padding: 1em; color: red;font-weight:bold;">
            {{'p.recipeAdd.publishWarning' | translate}}
        </div>

        <ion-button (click)="onSave()" expand="block">
            {{'p.recipeAdd.save' | translate}}
        </ion-button>
    </div>
</ion-content>
