<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="list">
            <ion-icon name="bookmark"></ion-icon>
            <ion-label>
                {{'p.recipeList.title' | translate}}
            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="menu">
            <ion-icon name="list"></ion-icon>
            <ion-label>
                {{'p.menu.title' | translate}}
            </ion-label>
        </ion-tab-button>

        <ion-tab-button *ngIf="featureLevel.isAvailable(featureLevel.LEVEL_DEV)" tab="shopping">
            <ion-icon name="cart"></ion-icon>
            <ion-label>
                {{'p.shopping.title' | translate}}
            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="settings">
            <ion-icon name="cog"></ion-icon>
            <ion-label>
                {{'p.settings.title' | translate}}
            </ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
