.content-wrap-900 {
  max-width: 900px;
}

.content-wrap-600 {
  max-width: 600px;
}

.content-wrap-900,
.content-wrap-600 {
  margin: 0 auto;
  padding-bottom: 40px;
}

ion-content {
  --ion-background-color: #46dc75;
  color: #000000;

  a {
    color: #000000;
  }
}

ion-card {
  --ion-background-color: #ffffff;
}

ion-searchbar,
ion-item {
  --ion-background-color: #ffffff;
}

ion-toolbar {
  max-width: 900px;
  margin: 0 auto;
}
