<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'p.shopping.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-wrap-900">
        <ion-card *ngIf="!this.auth.user.hideIntroOnShoppingPage" class="welcome-card">
            <ion-card-header>
                <ion-card-title>
                    {{'p.shoppingList.intro.title' | translate}}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{'p.shoppingList.intro.description' | translate}}</p>
                <ion-button
                        (click)="this.auth.user.hideIntroOnShoppingPage = true; this.auth.updateUserData(this.auth.user);">
                    {{'button.okGotIt' | translate}}
                </ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card *ngIf="!toBuyList.length">
            <ion-card-header>
                {{'p.shoppingList.nothingToBuy' | translate}} :-)
            </ion-card-header>
        </ion-card>
        <ion-card *ngFor="let toBuyItem of toBuyList">
            <ion-card-header>
                <ion-card-title>
                    {{toBuyItem.title}}
                </ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>
</ion-content>
