<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'p.recipeList.title' | translate}}
        </ion-title>
    </ion-toolbar>
    <div class="fab-top-panel">
        <ion-fab horizontal="end" vertical="top">
            <ion-fab-button color="primary" routerLink="/pocket/stats">
                <ion-icon name="stats-chart-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="success" routerLink="/pocket/recipe/add">
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-header>

<ion-content>
    <div class="content-wrap-900">
        <ion-searchbar (ionInput)="onSearchInput($event)" [(ngModel)]="searchQuery" animated></ion-searchbar>
        <ion-card *ngIf="!this.auth.user.hideIntroOnPocketPage" class="welcome-card">
            <ion-card-header>
                <ion-card-title>{{'p.recipeList.intro.title' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{'p.recipeList.intro.description' | translate}}</p>
                <ion-button
                        (click)="this.auth.user.hideIntroOnPocketPage = true; this.auth.updateUserData(this.auth.user);">
                    {{'button.okGotIt' | translate}}
                </ion-button>
            </ion-card-content>
        </ion-card>

        <ng-container *ngIf="searchResult">
            <ion-chip (click)="resetSearch()">
                <ion-icon name="search-outline"></ion-icon>
                {{'info.search'|translate}}
                <ion-icon name="close-circle"></ion-icon>
            </ion-chip>

            <ion-grid>
                <ion-row>
                    <ng-container *ngFor="let myAuthorRecipe of searchResult">
                        <ion-col size="4">
                            <ion-card (click)="onOpenDetail(myAuthorRecipe.id)" *ngIf="isEntityShowable(myAuthorRecipe)"
                                      class="clickable">
                                <ion-card-header>
                                    <ion-card-title>
                                        {{myAuthorRecipe.title}}
                                        <span *ngIf="myAuthorRecipe.cookTime">
                                            ({{'p.recipeDetail.cookTime' | translate: "{minutes: " + myAuthorRecipe.cookTime / 60 + "}"}})
                                        </span>
                                    </ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ng-container>
                </ion-row>
            </ion-grid>
        </ng-container>

        <ng-container *ngIf="!searchResult">
            <div style="margin: 0 0.5em;">
                <ion-button color="light">
                    <ion-icon name="filter-outline"></ion-icon>&nbsp;
                    {{'filter.category'|translate}}
                </ion-button>

                <ion-button color="light">
                    <ion-icon name="filter-outline"></ion-icon>&nbsp;
                    {{'filter.diet'|translate}}
                </ion-button>

                <ion-button color="light">
                    <ion-icon name="filter-outline"></ion-icon>&nbsp;
                    {{'filter.people'|translate}}
                </ion-button>
            </div>

            <ion-grid>
                <ion-row>
                    <ng-container *ngFor="let myAuthorRecipe of this.recipeService.myAuthorRecipes$ | async">
                        <ion-col size="4">
                            <ion-card (click)="onOpenDetail(myAuthorRecipe.id)" *ngIf="isEntityShowable(myAuthorRecipe)"
                                      class="clickable">
                                <ion-card-header>
                                    <ion-card-title>
                                        {{myAuthorRecipe.title}}
                                        <span *ngIf="myAuthorRecipe.cookTime">
                                            ({{'p.recipeDetail.cookTime' | translate: "{minutes: " + myAuthorRecipe.cookTime / 60 + "}"}})
                                        </span>
                                    </ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ng-container>
                </ion-row>
            </ion-grid>
        </ng-container>
    </div>
</ion-content>
