<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/pocket/list"></ion-back-button>
        </ion-buttons>
        <ion-title>{{entity?.title}}</ion-title>
    </ion-toolbar>
    <div class="fab-top-panel">
        <ion-fab horizontal="end" vertical="top">
            <ion-fab-button (click)="onUploadImage()" color="primary">
                <ion-icon name="image-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-button (click)="onPrint()" color="primary">
                <ion-icon name="print-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-button (click)="onEdit()" color="primary">
                <ion-icon name="pencil-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-button (click)="onDelete()" color="danger">
                <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>

            <ion-fab-button (click)="onScheduleCooking()" color="success">
                <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-header>

<ion-content>
    <div class="content-wrap-900">
        <ion-card>
            <ion-card-header>
                <h2>{{entity?.title}}</h2>
                <ng-container *ngIf="entity?.cookTime">
                    ({{'p.recipeDetail.cookTimeFull' | translate: "{minutes: " + entity.cookTime / 60 + "}"}})
                </ng-container>
            </ion-card-header>
            <ion-card-content>
                <p>
                    {{entity?.description}}
                </p>
                <hr/>
                <p *ngIf="entity?.isPublic !== undefined">
                    {{entity?.isPublic ? "Veřejné" : "Soukromé"}}
                </p>
                <p>
                    <ion-button (click)="onScheduleCooking()">
                        {{'p.recipeDetail.scheduleForCooking' | translate}}
                    </ion-button>
                </p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
