<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'p.menu.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="content-wrap-900">
        <ion-card *ngIf="!this.auth.user.hideIntroOnMenuPage" class="welcome-card">
            <ion-card-header>
                <ion-card-title>{{'p.foodMenu.intro.title' | translate}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{'p.foodMenu.intro.description' | translate}}</p>
                <ion-button
                        (click)="this.auth.user.hideIntroOnMenuPage = true; this.auth.updateUserData(this.auth.user);">
                    {{'button.okGotIt' | translate}}
                </ion-button>
            </ion-card-content>
        </ion-card>

        <ion-card (click)="onOpenDetail(menuRecipe.id)" *ngFor="let menuRecipe of menuRecipes" class="clickable">
            <ion-card-header>
                <ion-card-title>
                    {{menuRecipe.title}}
                    <span *ngIf="menuRecipe.cookTime">
                        ({{'p.recipeDetail.cookTime' | translate: "{minutes: " + menuRecipe.cookTime / 60 + "}"}})
                    </span>
                </ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>
</ion-content>
