<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'p.settings.title' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="content-wrap-900">
        <ion-row>
            <ion-col sizeXl="6">
                <div>
                    <ion-card *ngIf="auth.user">
                        <ion-card-content class="ion-text-center">
                            <div *ngIf="auth.currentFirebaseUser.isAnonymous">
                                <p>
                                    {{'p.settings.usingAppAnonymously' | translate}}
                                </p>
                                <p>
                                    {{'p.settings.dataLoseWarningIfSignOut' | translate}}
                                </p>
                            </div>
                            <div *ngIf="!auth.currentFirebaseUser.isAnonymous">
                                <img [src]="auth.user?.photoURL" class="user-avatar">
                                <hr/>
                                {{'p.settings.loggedInAs' | translate : "{name: \"" + auth.user?.displayName + "\"}"}}<br/>
                                {{auth.user?.email}}
                            </div>
                        </ion-card-content>
                    </ion-card>

                    <ion-item>
                        <ion-label>{{'p.settings.language.title' | translate }}</ion-label>
                        <ion-select (ionChange)="onChangeLanguage()" [(ngModel)]="auth.user.lang">
                            <ion-select-option value="en">English</ion-select-option>
                            <ion-select-option value="cs">Česky</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label>{{'p.settings.featureLevel.title' | translate }}</ion-label>
                        <ion-select (ionChange)="onChangeFeatureLevel()" [(ngModel)]="auth.user.featureLevel">
                            <ion-select-option [value]="featureLevel.LEVEL_PROD">{{'p.settings.featureLevel.prod' | translate }}</ion-select-option>
                            <ion-select-option [value]="featureLevel.LEVEL_BETA">{{'p.settings.featureLevel.beta' | translate }}</ion-select-option>
                            <ion-select-option [value]="featureLevel.LEVEL_DEV">{{'p.settings.featureLevel.dev' | translate }}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-button (click)="auth.signOut()" expand="block">
                        {{'button.signOut' | translate}}
                    </ion-button>
                </div>
            </ion-col>
            <ion-col sizeXl="6">
                <div>
                    <ion-card>
                        <ion-card-content>
                            <h2>
                                {{'p.settings.helpUs.title' | translate }}
                            </h2>

                            <ion-button
                                    href="https://gitlab.com/cothema/cook-pocket/issues/new"
                                    target="_blank">
                                {{'p.settings.helpUs.feedback' | translate }}
                            </ion-button>
                            <ion-button
                                    href="http://play.google.com/"
                                    target="_blank">
                                {{'p.settings.helpUs.review' | translate }}
                            </ion-button>
                            <ion-button
                                    href="https://gitlab.com/cothema/cook-pocket/issues/new"
                                    target="_blank">
                                {{'p.settings.helpUs.featureRequest' | translate }}
                            </ion-button>
                            <ion-button>
                                {{'p.settings.helpUs.translation' | translate }}
                            </ion-button>
                            <ion-button
                                    href="https://gitlab.com/cothema/cook-pocket"
                                    target="_blank">
                                {{'p.settings.helpUs.development' | translate }}
                            </ion-button>
                            <ion-button
                                    href="mailto:info@cothema.cz">
                                {{'p.settings.helpUs.design' | translate }}
                            </ion-button>

                            <hr/>

                            <p>
                                {{'p.about.poweredBy' | translate}} Cothema, s.r.o.<br/>
                                <a href="https://gitlab.com/cothema/cook-pocket" target="_blank">
                                    {{'p.about.developed' | translate}}
                                </a>
                                <br/>
                                <b>{{'p.about.poweredByMotto' | translate}}</b>
                            </p>

                        </ion-card-content>
                    </ion-card>

                    <hr/>

                    <div class="ion-text-center">
                        <a routerLink="/terms">
                            {{'p.terms.title' | translate}}
                        </a>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
